@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.nav {
  font-family: Nunito Sans, sans-serif;
  display: flex;
  padding: 1rem 2.5rem 3rem 2.5rem;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.nav img {
  height: 60px;
  cursor: pointer;
}
.nav ul {
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 650;
  font-size: 0.9rem;
  transition: 0.5s ;
}
.nav ul li:hover {
  color: rgb(255, 111, 0);
  cursor: pointer;
}
.nav .contact button,
#sec1 .part1 button {
  padding: 1.2rem 2.2rem;
  background-color: #ff4a17;
  border: none;
  font-weight: 550;
  border-radius: 3px;
  margin-right: 2rem;
  color: white;
  transition: 0.75s ;
}
.nav .contact button:hover {
  background-color: #23282d;
}
main {
  padding: 3rem 0;
}
#sec1 {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 2rem 0;
}
#sec1 .part1 {
  width: 50%;
  padding: 1rem 2.9rem;
  flex-wrap: wrap;
  color: rgba(82, 82, 82, 0.918);
}
#sec1 .part1 span {
  font-weight: 800;
  font-size: 29px;
}
#sec1 .part1 pre {
  margin-top: 1.3rem;
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
}
#sec1 .part1 button,
#sec2 button,#sec3 button {
  padding: 0.6rem 1rem;
  background-color: black;
  margin-top: 1.2rem;
  border-radius: 3px;
  color: white;
  font-size: 0.7rem;
  width: 100px;
  border: none;
  transition: 0.5s ;
}
#sec1 .part1 button:hover,
#sec2 button:hover,#sec3 button:hover {
  background-color: rgb(255, 111, 0);
}
#sec1 .part2 img {
  width: 17rem;
  margin-right: 15rem;
}
#sec2,#sec3,#sec4{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1rem;
  background-image: linear-gradient(to right,white,white,rgba(255, 160, 122, 0.151));
}
#sec2 #p1,#sec3 .p1,#sec4 #p1 {
  color: red;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 650;
}
#sec2 h2,#sec3 h2,#sec4 h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 1rem;
}
#sec2 #p2 {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(101, 101, 101);
}
#sec2 .cards {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 2rem;
}
#sec2 .cards #card1 {
  width: 200px;
  border: 0.1px solid rgba(128, 128, 128, 0.251);
  border-radius: 10px;
  transition: 0.5s ;
}
#sec2 .cards #card1:hover,.right .boxes .gr1:hover  {
  background-color: rgba(255, 160, 122, 0.076);
  cursor: pointer;
}
#sec2 .cards #card1 img {
  padding: 0.7rem 0 0.2rem 0.7rem;
  width: 5.3rem;
}
#sec2 .cards #card1 #p3 {
  color: rgb(255, 111, 0);
  font-size: 0.9rem;
  font-weight: 650;
  padding-left: 0.7rem;
  line-height: 1.2rem;
}
#sec2 .cards #card1 #p4 {
  font-size: 0.75rem;
  padding-left: 0.7rem;
  line-height: 1.2rem;
  padding-top: 10px;
  color: #23282d;
}
#sec2 .cards #card1 i:hover {
  color: black !important;
  cursor: pointer;
}

#sec3 .left{
  width:53%;
  padding: 1rem 5rem 1rem 8rem;
}
#sec3 .left #sec3p3{
  font-size: 0.9rem;
  line-height: 1.5rem;
}
#sec3 .right{
  padding: 1rem 3rem 1rem 0;
}
.right .boxes{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.right .boxes .gr1{
  display:inline-block; 
  border: 0.5px solid gray;
  padding: 2rem 1rem 1rem 1rem;
  width: 190px;
  height: 6rem;
  margin-right: 9px;
  text-align: center;
  line-height: 1.7rem;
}
.right .boxes .gr1 p{
  color: #ff4917d1;
  font-weight: 650;
  font-family:sans-serif;
  font-size: 1.2rem;
}
.right .boxes .btop{
  margin-bottom: 10px;
}
.right .boxes #ff{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 530;
  color: #23282d;
}
#sec4 .carousel-inner{
  padding:10px auto;
}
#sec4 .carousel-item{
  width: 70%;
  text-align: center;
  padding: auto;
}
